<?xml version="1.0"?>
<module name="dm814x-wdtkick">
    <type>Element</type>
    <classification>Driver</classification>

    <description>
        <short>Watchdog Timer Module</short>
        <abstract>
            <![CDATA[The dm814x-wdtkick is the Watchdog Timer Module for TI DM814x processor]]>
        </abstract>
    </description>

    <supports>
        <availability>
            <cpu isa="arm">
                <byteOrder>le</byteOrder>
                <byteOrder>le.v7</byteOrder>
            </cpu>
        </availability>
    </supports>

    <source available="false">
        <location type="">.</location>
    </source>
    <GroupOwner>hw</GroupOwner>

    <contents>
        <component id="dm814x-wdtkick" generated="true">
            <location basedir="{cpu}/{endian}"
                 runtime="true">dm814x-wdtkick</location>
        </component>
    </contents>

    <requires>
	<part build="true" location="lib/drvr" />
    </requires>

</module>
